<header>
  <nav>
    <ul>
      <li>
        {{link-to "Home" "index"}}
      </li>
      <li>
        {{link-to "Alpha" "alpha"}}
      </li>
      <li>
        {{link-to "Bravo" "bravo"}}
      </li>
    </ul>    
  </nav>
</header>
<main>
  {{outlet}}
</main>